.loginContainer{
  padding: 30px;
  background-color: rgba(45, 122, 153, 0.815);
  height: 200px;
  width: 90%;
  border-radius: 20px;
}

.inputHeader{
  margin-bottom: 3px;
  margin-left: 10px;
  font-family: 'opensans-bold', sans-serif;
  font-size: 1.5em;
}

.input{
  font-size: x-large;
  padding-left: 5px;
  margin: 8px;
  height: 50px;
  border-radius: 15px;
  background-color: rgb(218, 218, 218);
}

.displayInB{
  display: inline-block;
}

.floatL{
  float: left;;
}

.floatR{
  float: right;
  text-align: right;
}

.authSeparator{
  margin-top: 30px;
  margin-bottom: 20px;
  width: 70%;
}

.continue{
  font-family: 'opensans-bold', sans-serif;
  cursor: pointer;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 1.2em;
  text-decoration: underline;
  color: whitesmoke;
  text-align: right;
}