footer {
  padding-top: 30px;
  margin-bottom: -10px;
  background-color: rgb(14, 14, 14);
  color: rgb(216, 216, 216);
  font-size: 14px;
  text-align: center;
  position: relative;
}

footer a, footer a:visited { color: #525252; }
footer a:hover, footer a:focus { color: #fff; }