#myDonations {
  background: #191919;
  padding-top: 96px;
  padding-bottom: 102px;
  color: #636363;
}
#myDonations .section-head { margin-bottom: 42px; }

#myDonations a, #myDonations a:visited  { color: #0762f9; }
#myDonations a:hover, #myDonations a:focus { color: #fff; }

#myDonations h1 {
  font: 18px/24px 'opensans-bold', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #EBEEEE;
  margin-bottom: 6px;
}
#myDonations h1 span { display: none; }
#myDonations h1:before {
  font-family: 'FontAwesome';
  content: "\f0e0";
 padding-right: 10px;
 font-size: 72px;
  line-height: 72px;
  text-align: left;
  float: left;
  color: #ebeeee;
}

#myDonations h4 {
  font: 16px/24px 'opensans-bold', sans-serif;
  color: #EBEEEE;
  margin-bottom: 6px;
}
#myDonations p.lead {
  font: 18px/36px 'opensans-light', sans-serif;
  padding-right: 3%;
}
#myDonations .header-col { padding-top: 6px; }
