.section-one {
  background-color: #363b61;
  padding: 50px 0 0;
  margin-top: -1%;
}

.section-two{
  background-color: #363b61;
  bottom: -4px;
  left: 0;
  overflow: hidden;
  width: 100%;
}

.projectDetails-cont{
  margin-top: 3%;
  margin-left: 5%;
}

.projectDetails-title{
  color: white;
  font-family: Helvetica;
}

.projectDetails-description{
  color: whitesmoke;
}

.projectDetails-sep{
  width: 40%;
}

.github-pic{
  margin-left: -25%;
  max-width: 35vh;
  height: auto;
}