#projectsToEndSoon {
  clip-path: polygon(0% 20%, 100% 0%, 100% 100%, 0% 100%);
  margin-left: -1%;
  background:  #8a8c9b;
  padding-bottom: 2%;
  padding-top: 12%;
}

#projectsToEndSoon .card{
  background-color: #1f2447;

  color: rgb(221, 221, 221);
  margin: 5%;
}

